:root {
  --background: #fff;
  --text: #222;
  --accent: #090;
  --tertiary: #009;
  --body-fonts: "Ubuntu", sans-serif;
  --code-fonts: "Ubuntu Mono", monospace;
}

::selection {
  color: var(--background);
  background: var(--accent);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--text);
  font-family: var(--body-fonts);
  font-size: 1.6rem;
  margin: 0 2rem;
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:visited {
  color: var(--tertiary);
}

a:active {
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

.wrapper {
  margin: 0 auto;
  max-width: 60ch;
}

header {
  border-bottom: 3px double var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
  font-family: var(--code-fonts);
  letter-spacing: 0.1rem;
}

h1 {
  color: var(--accent);
  font-size: 4rem;
  margin: 2rem 0;
  text-transform: lowercase;
}

h1:before {
  content: "// ";
}

h2 {
  font-size: 2.2rem;
}

footer {
  border-top: 3px double var(--text);
  font-family: var(--code-fonts);
}

.project-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
